{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'register.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="container">
            <h1>Login</h1>
            {% if messages %}
                <!-- {% for message in messages %} -->
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>{{message}}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                <!-- {% endfor %} -->
            {% endif %}
            <p>Please fill in this form to Login the account</p>
            <hr>

            <label for="email">
                <b>Email</b>
            </label>
            <input type="text" placeholder="Enter the Email" name="email" id="email" required>

            <label for="psw">
                <b>Password</b>
            </label>
            <input type="password" placeholder="Enter the Password" name="psw" id="psw" required>
            <hr>

            <button type="submit" class="registerbtn">Login</button>

        </div>
        <div class="container signin">
            <p>Have not an account? <a href="\signup\">Signup</a>.</p>

        </div>
    </form>
</body>
</html>